$colorPrincipal:#FEFBF3;
$colorLetras:#79B4B7;
$fontTitle:'Rubik', sans-serif;
$fontTitleSize:2rem;
$fontTextSize:1.2rem;
$fontTextColor:#9D9D9D;
$fontSectionTitle:'Pacifico',cursive;
$fontSectionSize:3rem;
$universalPadding:3% 15%;
$titleFontWeight:bold;

@import "./header";
@import "./experience";
@import "./skills";
@import "./footer";

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media (max-width: 990px) {
        .img-container{
            text-align: center;
            margin-bottom: 50px;
        }
    
    }