//footer section
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorLetras;
    padding: 2rem 0;
    
    .footer-logo
    {
        color: $colorPrincipal;
        margin: 5px 2rem;
    }
    .footer-logo{
        &:hover{
            color: #F8F0DF;
            transition: 0.6s all;
        }
    }
}
